body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

/* background-image: url("https://via.placeholder.com/1900x800"); */
header{
  height: 80vh;
  /* background-image: url("https://via.placeholder.com/360×640"); */
  background-image: url("https://picsum.photos/360/460");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}

@media screen and (min-width: 375px) {
  header{
    background-image: url("https://picsum.photos/375/667");
  }
}
@media screen and (min-width: 720px) {
  header{
    background-image: url("https://picsum.photos/720/1280");
  }
}
@media screen and (min-width: 1366px) {
  header{
    background-image: url("https://picsum.photos/360/460");
  }
}
@media screen and (min-width: 1440px) {
  header{
    background-image: url("https://picsum.photos/360/460");
  }
}
@media screen and (min-width: 1920px) {
  header{
    background-image: url("https://picsum.photos/360/460");
  }
}

