body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

/* background-image: url("https://via.placeholder.com/1900x800"); */
.img-home{
  height: 80vh;
  background-image: url("https://picsum.photos/360/460");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}

.css-1oqqzyl-MuiContainer-root{
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

@media screen and (min-width: 375px) {
  .img-home{
    background-image: url("https://picsum.photos/375/667");
  }
}
@media screen and (min-width: 720px) {
  .img-home{
    background-image: url("https://picsum.photos/720/1280");
  }
}
@media screen and (min-width: 1366px) {
  .img-home{
    background-image: url("https://picsum.photos/1366/768");
  }
}
@media screen and (min-width: 1440px) {
  .img-home{
    background-image: url("https://picsum.photos/1440/900");
  }
}
@media screen and (min-width: 1920px) {
  .img-home{
    background-image: url("https://picsum.photos/1920/1080");
  }
}

